body{
}
.emptyspace{
  width: 80%;
  border: 3px solid yellow;
  margin: auto;
  perspective: 10px;
  -webkit-perpective: 10px;
}
.texteroulant{
  font-family: 'Roboto', sans-serif;
  border: 5px solid black;
  width: 40%;
  margin: auto;
  transform: rotateX( 25deg) ;
  -webkit-transform: rotateX( 25deg) ;
}
p{
  animation-duration: 72s;
  animation-name: text;
  animation-iteration-count: 1;
}

@keyframes text {
  from{
  transform: rotateX( 25deg) translateY(110%);
  }
  to{
  transform: rotateX( 25deg) translateY(-110%);
  }
}
