body{
}
.emptyspace{
  width: 80%;
  border: 3px solid yellow;
  margin: auto;
  height: auto;
  perspective: 100px;
  -webkit-perpective: 100px;
  background-image: url("http://idata.over-blog.com/4/15/06/42/Nuit-etoilee/M27_32229-colorPreview.jpg");
}
.texteroulant{
  font-family: 'Roboto', sans-serif;
  border: 5px solid black;
  width: 40%;
  margin: auto;
  transform: rotateX(35deg);
  -webkit-transform: rotateX(35deg);
}
p{
  animation-duration: 10s;
  animation-delay: 0;
  animation-name: text;
  animation-iteration-count: 1;
}

@keyframes text {
  from{
    margin-bottom: 200%;
    height: -100%;
  }
  to{
    margin-bottom: 0%;
    height: 50%
  }
}
